@import "tailwindcss";

@import "@fontsource/jetbrains-mono";

@theme {
	--font-mono: "JetBrains Mono", ui-monospace, monospace;

	--color-accent-green: #10b981;
	--color-accent-red: #ef4444;
	--color-accent-amber: #f59e0b;

	--color-bg-page: #09090b;
	--color-bg-surface: #18181b;
	--color-bg-input: #27272a;

	--color-border-primary: #27272a;

	--color-text-primary: #fafafa;
	--color-text-secondary: #a1a1aa;
	--color-text-tertiary: #71717a;
}

body {
	font-family: ui-sans-serif, system-ui, sans-serif;
}
